@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    margin:0;
}

body{
    background-color: #D7D7D7;

}
header h1{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.photo{
    margin-top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 128px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    margin: 2%;
}
nav{
    display: flex;
    justify-content: end ;
    align-items: center;
    background: #4F4F4F;
    width: 1470px;
    height: 63px;
   
}
a{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    padding: 2%;
    text-decoration: none ;
   
}

.a1{
    display: none;
}

a:hover{
    color: #FFA4A4;
    text-decoration: underline;
}

.about{
    display: flex;
    justify-content: space-between;
    padding: 200px;
}

.ost{
    width: 489px;
    height: 558px;
    background: #4F4F4F;
    border-radius: 40px;
    margin-top: 100px;
    margin-left: 2%;
    color: #FFA4A4;
    font-family: 'Roboto Mono';
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    padding: 2%;
    
}
.ost1{
    display: none;
}

.st{
    margin-right: 100px;
    width: 900;
    height: 1200;

}
.ft{
    font-family: 'Roboto Mono';
    
    font-weight: 300;
    font-size: 120px;
    line-height: 158px;
    text-align: center;
    display: block;
}

.ft:hover{
    color: #FFA4A4;
}

.ft1{
    padding: 2%;
    display: flex;
}
.ob{
    font-family: 'Roboto Mono';
    margin-top: 200px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    margin-left: 80px;
    width: 589px;
    height: 500px;
    color: #4B4D67;
    background: #8786AC;
    border-radius: 100px;
}
.ob1{
    display: none;
}
.fotzon1{
    width: 616px;
    height: 893px;
    margin-left: 40px;
    
}
.ft2{
    display:flex;
    margin: 100px;
    justify-content: space-between;
    
}
.fotzon2{
    width: 603px;
    height: 831px;
    margin-right: 50px;
}
.bel{
    width: 562px;
    height: 531px;
    margin-bottom: 200px;
}
.r{
    font-family: 'Roboto Mono';
    margin-top: 150px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    margin-right: 50px;
    width: 452px;
    height: 400px;
    color: #4F5E4E;
    background: #80B078;
    border-radius: 100px;
   
}
.r1{
    display: none;
}

.ft3{
    display:flex;
    margin: 100px;
    justify-content: space-between;
}

.fotzon3{
    width: 680px;
    height: 926px;
}
.a{
    font-family: 'Roboto Mono';
    margin-top: 150px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    margin-right: 50px;
    width: 424px;
    height: 350px;
    color: #D7D7D7;
    background: #4F4F4F;
    border-radius: 100px;
}

footer{
    padding: 2%;
    margin: 2%;
}
.ins{
    margin-left: 300px;
    font-size: 40px; 
    background-color: #4F4F4F;
    width: 754px;
    height: 461px;
    text-align: center;
    font-family: 'Roboto Mono';
    color: #FFA4A4;
    
}
.ura{
    margin-left: 30px;
}
h3{
    font-family: 'Roboto Mono';
    
}
.btn{
    background: #FFA4A4;
    border-radius: 30px;
    border-color: #FFA4A4;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    height: 2em;
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: black;
}


@media (max-width:650px){
    .photo{
        
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       
    }
    .menu {
        display: none;
    }

    .menu-small {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        position: absolute;
        background: white;
        transform: translateX(-100%);
    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_small_item:first-child {
        padding-top: calc(50px + 2em);
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    nav{
        display: flex;
        align-items: center;
        background: #4F4F4F;
        width: 1px;
    }
   
    a{
        display: none;
    }
    .about{
        flex-wrap: wrap;
        margin-right: 70px;
        padding: 20px;
        
    }
    .st{
        display: none;
    }

    .ost1{
        background: #4F4F4F;
        color: #FFA4A4;
        font-family: 'PT Serif Caption';
        font-size: 20px;  
        padding: 50px;
        padding-top: 20px;
        display: block;
    }
    .ost{
        display:none;
    }
    .ft{
        font-family: 'Roboto Mono';
        font-size:  60px;
        display: block;
    }
    .ft1{
        flex-wrap: wrap;
    }
    .ob{
        display: none;
    }
    .ob1{
        
        font-family: 'PT Serif Caption';
        font-size: 20px;  
        padding: 50px;
        padding-top: 20px;
        display: block;
        color: #4B4D67;
        background: #8786AC;
        margin-bottom: 20px;
    }
    .fotzon1{
        width: 400px;
        height: 500px;
        margin-left: 20px;
    }
    .ft2{
        margin: 50px;
        flex-wrap: wrap;
    }
    .fotzon2{
        width: 400px;
        height: 500px;
        margin-right: 40px;

    }
    .r1{
        display: block;
        font-family: 'PT Serif Caption';
        margin-bottom: 50px;
        font-size: 20px;
        margin-top: 50px;
        color: #4F5E4E;
        background: #80B078;
        border-radius: 0px;
        height: 70px;
        text-align: center;
    }
    .r{
        display: none;
    }
    .ft3{
        flex-wrap: wrap;
        margin: 50px;
    }
    .fotzon3{
        width: 400px;
        height: 500px;
        margin-top: 50px;
    }
    .a1{
        margin-top: 00px;
        font-family: 'PT Serif Caption';
        border-radius: 0px;
        font-size: 20px;
        height: 100px;
        display: block;
        width: 424px;
        color: #D7D7D7;
        background: #4F4F4F;
        text-align: center;
        padding: 2%;
    }
    .a{
        display: none;
    }
    .ura{
       display: none;
    }
    .ins{
        width: 400px;
        height: 250px;
        margin-right: 200px;
        margin-left: 0px;
        font-family: 'PT Serif Caption';
        font-size: 30px; 
        padding: 2%;
    }
    footer{
        padding: 5%;
        margin: 0%;
    }
}
